@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/goal-app-bg.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }